@import "../../../../styles/variables.less";

:host {
  display: block;
  margin-left: @mg-left;
  right: 0;
  box-sizing: border-box;
  z-index: -1;
}

.page {
  min-height: 100vh;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  font-size: 2rem;
  line-height: 2.5rem;
  position: relative;
  overflow: hidden;
  a {
    text-decoration: underline;
  }
}

@media screen and (max-width: @size-md) {
  :host {
    margin-top: 0; //@header-height-sm;
    margin-left: 0;
    padding-top: 6rem;
  }
}

@media screen and (max-width: @size-md) {
  .page {
    padding-top: 2rem;
  }
  //    :host {
  //         padding-right: 100px;
  //     }
}
