<app-page-header color="black">
  <h3><app-snippet snippet="about-title"></app-snippet></h3>
</app-page-header>

<app-page-body>
  <app-scrollpane [showLines]="false" [boxShadows]="false">
    <app-scrollpane-section snippet="about-statements">
      <!-- <div class="statements" [innerHtml]="statements$ | async"></div> -->
      <!-- <h3
        class="statements-title"
        *ngIf="gallerySpaces && gallerySpaces.length"
      >
        {{ gallerySpaces[0].location }}&nbsp;|&nbsp;{{
          gallerySpaces[1].location
        }}
      </h3> -->
      <app-html-block [content]="statements$ | async"></app-html-block>
      <br />
    </app-scrollpane-section>
    <app-scrollpane-section snippet="about-spaces">
      <div class="spaces-container">
        <!-- <app-gallery-space [gallery]="space"></app-gallery-space> -->
        <div
          class="pictures"
          #pictures
          (panRight)="scrollLeft()"
          (panLeft)="scrollRight()"
        >
          <app-smart-image
            [image]="gallerySpaces[0].image"
            size="1"
            *ngIf="gallerySpaces && gallerySpaces.length"
            [class.active]="activeIndex == 0"
          ></app-smart-image>
          <div
            class="left"
            (click)="scrollRight()"
            [class.active]="activeIndex == 0"
          >
            <img
              [style.opacity]="isMobile ? 1 : 0"
              src="/assets/cursors/arrow-right-white.svg"
              alt=""
            />
          </div>

          <div
            class="right"
            (click)="scrollLeft()"
            [class.active]="activeIndex == 1"
          >
            <img
              [style.opacity]="isMobile ? 1 : 0"
              src="/assets/cursors/arrow-left-white.svg"
              alt=""
            />
          </div>
          <app-smart-image
            [image]="gallerySpaces[1].image"
            size="1"
            *ngIf="gallerySpaces && gallerySpaces.length"
            [class.active]="activeIndex == 1"
          ></app-smart-image>
        </div>
        <div class="headers" *ngIf="gallerySpaces && gallerySpaces.length">
          <h3 [class.inactive]="activeIndex == 1" (click)="scrollLeft()">
            {{ gallerySpaces[0].location }}
          </h3>
          <h3 [class.inactive]="activeIndex == 0" (click)="scrollRight()">
            {{ gallerySpaces[1].location }}
          </h3>
        </div>
        <div class="addresses gt-america">
          <div
            *ngFor="let s of gallerySpaces; let i = index"
            [class.inactive]="activeIndex == 1 - i"
            [class.left]="i == 0"
            [class.right]="i == 1"
          >
            <p class="info">
              <span [innerHtml]="s.address"></span>
              <span *ngIf="s.phone">{{ s.phone }}</span>
            </p>
          </div>
        </div>
      </div>
    </app-scrollpane-section>
  </app-scrollpane>
</app-page-body>
