@import '../../../../styles/variables.less';

.statements {
  padding-right: 16px;
}

@media screen and (min-width: 1200px) {
  .statements {
    padding-right: 136px;
  }
}

@media screen and (max-width: @size-sm) {
  .statements {
    padding: 8px;
  }
}
