<!-- <div class="drop"></div> -->

<!-- <div class="spinner-container"> -->
<!--   <div class="ripple"      style="animation-duration: 2500ms;animation-delay: 400ms;"></div> -->
<!--   <div class="ripple"      style="animation-duration: 3500ms;animation-delay: 600ms;"></div> -->
<!--   <div class="ripple"      style="animation-duration: 3500ms;animation-delay: 800ms;"></div> -->
<!--   <div class="ripple"      style="animation-duration: 3500ms;animation-delay: 1000ms;"></div> -->
<!-- </div> -->

<div class="content">
  <ng-content></ng-content>
</div>

