<app-page-header>
  <h3 routerLink="/fairs">
    <!-- <i class="fa fa-angle-double-left"></i>&nbsp; -->
    <app-snippet snippet="fairs-title"></app-snippet>
  </h3>
</app-page-header>

<app-page-body>
  <app-spinner *ngIf="loading"></app-spinner>
  <app-scrollpane *ngIf="fair">
    <div class="heading">
      <h1 class="title">
        <app-typewriter [text]="fairTitle"></app-typewriter>
      </h1>
      <p *ngIf="fair.start && fair.end" class="date gt-america">
        {{ fair | dateRange: lang.language }}
      </p>
      <ul class="artist-links">
        <li *ngFor="let artist of fair.artists">
          <a routerLink="/artists/{{ artist.slug }}">
            {{ artist.name.first + " " + artist.name.last }}
          </a>
        </li>
      </ul>
    </div>
    <br />
    <div class="cover-picture">
      <app-smart-image
        [image]="fair.thumbnail"
        size="0"
        imageClass="cover-picture-img"
      >
      </app-smart-image>
    </div>

    <div class="cover-picture-placeholder" *ngIf="coverStick"></div>

    <div
      class="text"
      appScrollTo
      [ratio]="0.1"
      (inViewport)="textViewportChange($event)"
      [style.opacity]="1"
    >
      <app-html-block [content]="fair.text"></app-html-block>
    </div>

    <!-- <div class="gallery" modalImages>
      <div class="container">
        <app-masonry #masonry>
          <div
            class="grid-item"
            #gridItem
            *ngFor="let image of fair.pictures"
            appScrollTo
            [ratio]="0.4"
            (inViewport)="inViewportChange(image, $event)"
            [class.in-view]="image.animationState < 1"
          >
            <app-smart-image
              [image]="image"
              size="3"
              imageClass="hover-fx"
            ></app-smart-image>
          </div>
        </app-masonry>
      </div>
    </div> -->
    <div class="gallery" *ngIf="fair">
      <!-- (slideChanged)="slideChanged($event)" -->
      <app-slideshow
        [images]="fair.pictures"
        [currentSlide]="fair.pictures.length > 0 ? fair.pictures[0] : null"
        imageFit="cover"
        imageClass="slideshow-img"
        animation="fade"
        transitionDuration="600ms"
        imageSize="1"
        #slideshow
      ></app-slideshow>
      <!-- (imageLoadProgress)="progressChanged($event)" -->
      <!-- <app-spinner
        *ngIf="!progress.done"
        [style.display]="!progress.done ? 'block' : 'none'"
      >
        <app-progress-bar [progress]="progress.ratio"></app-progress-bar>
      </app-spinner> -->

      <app-slideshow-cursor-controller
        [slideshow]="slideshow"
        *ngIf="fair.pictures.length && fair.pictures.length > 1"
        [small]="isSmall"
      >
      </app-slideshow-cursor-controller>
    </div>
  </app-scrollpane>
</app-page-body>
