@import "../../../../styles/variables.less";

:host {
  display: block;
  background: black;
}

h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 2rem;
}

:host ::ng-deep h1 span {
  font-weight: 600;
}

hr {
  margin-top: 6rem;
  width: 75%;
  color: #555;
  border-color: #333;
  margin-bottom: 6rem;
}

@media screen and (min-width: 800px) {
  :host ::ng-deep app-page-body {
    margin-left: 0;
  }
}

@media screen and (max-width: @size-md) {
  :host ::ng-deep app-page-header {
    background: black !important;
  }
}
