@import "../../../../styles//variables.less";

:host {
  display: block;
  position: relative;
  width: 100%;
  // max-height: 400px;
  // height: 560px;
  padding-top: 24px;
  padding-top: 0;
  padding-bottom: 40px;
  padding-right: 16px;
  text-align: left;
  // transition: height 1.5s ease;
  // max-height: 300rem;
}

// :host.collapsed {
//   overflow: hidden;
//   max-height: calc(100vh - 100px);
//   position: sticky;

//   .read-more {
//     display: block;
//   }
// }

// .read-more {
//   display: none;
//   text-align: right;
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 24px;
//   background: white;
//   box-shadow: 0px -5px 40px 11px rgba(255, 255, 255, 1);
//   padding-top: 10px;
//   a {
//     text-transform: uppercase;
//     display: inline-block;
//     text-decoration: none;
//     border-bottom: 1px solid @color-highlight;
//   }

//   a:hover {
//     color: @color-highlight;
//   }
// }

@media screen and (max-width: @size-sm) {
  :host {
    // max-height: 340px;
    // height: 420px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.content {
  // column-width: 360px;
  // column-rule: 1px solid #eee;
  // column-gap: 80px;

  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 100%;
  // max-width: 600px;
}

.page-nav {
  position: absolute;
  bottom: 12px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  transition: all 0.5s ease;
  color: #bbb;
}
body.desktop {
  .page-nav:hover {
    color: @color-logo-dot;
  }
}
.page-nav.next {
  right: 12px;
}
.page-nav.prev {
  left: 12px;
}

:host ::ng-deep p:first-child {
  margin-top: 0;
}
:host ::ng-deep p {
  margin-top: 2rem;
  margin-bottom: 0rem;
  line-height: 1.2;
  font-size: 1.5rem;
  color: black;
  // font-weight: 300;
  font-family: "GT America Mono", sans-serif, "FZJunHeiS-M-GB";
  // font-family: 'Work Sans', sans-serif, 'FZJunHeiS-M-GB';
  // font-family: 'Barlow Semi Condensed', sans-serif, 'FZJunHeiS-M-GB';

  * {
    font-family: "GT America Mono", sans-serif, "FZJunHeiS-M-GB";
    // font-family: 'Work Sans', sans-serif, 'FZJunHeiS-M-GB';
    // font-family: 'Barlow Semi Condensed', sans-serif, 'FZJunHeiS-M-GB';
  }
}

:host ::ng-deep a {
  border-bottom: 1px solid @color-highlight;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

:host ::ng-deep a:hover {
  color: @color-highlight;
}

:host ::ng-deep h3,
:host ::ng-deep h3 em,
:host ::ng-deep h3 a,
:host ::ng-deep h3 strong {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
  color: @color-highlight;
  font-weight: 600;

  font-family: "Work Sans", sans-serif, "FZJunHeiS-M-GB" !important;

  // font-weight: 300;
  // font-family: 'Work Sans', sans-serif, 'FZJunHeiS-M-GB';
}

:host ::ng-deep h3 {
  padding-top: 2rem;
  margin-top: 3rem;
  border-top: 1px solid @color-highlight;
}

:host ::ng-deep a {
  border-bottom: 1px solid @color-highlight;
  display: inline-block;
}
