<app-page-header [scrollpane]="scrollpane" style="pointer-events: all;">
  <ng-container section>
    <app-snippet snippet="exhibitions-title"></app-snippet>
  </ng-container>
</app-page-header>

<app-page-body>
  <app-spinner *ngIf="loading"></app-spinner>
  <app-scrollpane [showLines]="false">
    <app-scrollpane-section #upcomingSection snippet="exhibitions-upcoming">
      <app-exhibitions-list
        [exhibitions]="stream | async | exDateFilter: 'upcoming'"
        (change)="scrollpane.updateLines()"
      >
      </app-exhibitions-list>
    </app-scrollpane-section>
    <app-scrollpane-section #currentSection snippet="exhibitions-current">
      <app-exhibitions-list
        [exhibitions]="stream | async | exDateFilter: 'current'"
        (change)="scrollpane.updateLines()"
      >
      </app-exhibitions-list>
    </app-scrollpane-section>
    <app-scrollpane-section #pastSection snippet="exhibitions-past">
      <app-exhibitions-list
        [exhibitions]="stream | async | exDateFilter: 'past'"
        (change)="scrollpane.updateLines()"
      >
      </app-exhibitions-list>
    </app-scrollpane-section>
  </app-scrollpane>
</app-page-body>
