h1,
.h1 {
  font-size: 2.8rem;
  font-weight: 300;
}
h2,
.h2 {
  font-size: 2.8rem;
  font-weight: 300;
}
h3,
.h3 {
  font-size: 2.8rem;
  font-weight: 300;
}
h4,
.h4 {
  font-size: 2rem;
  font-weight: 300;
}
h5,
.h5 {
  font-size: 2rem;
  font-weight: 300;
}
h6,
.h6 {
  font-size: 2rem;
  font-weight: 300;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 1.5rem;
  }
}

p.date {
  font-family: "Mier B", sans-serif, "FZJunHeiS-M-GB" !important;
  font-weight: 100 !important;
  font-size: 1.3rem;
  text-transform: uppercase;
  * {
    font-size: 1.3rem;
    font-family: "Mier B", sans-serif, "FZJunHeiS-M-GB" !important;
    font-weight: 100 !important;
  }
}

body {
  color: #000;
  // max-height: 100vh;
  // overflow: hidden;
}

.ps__thumb-y {
  background-color: rgba(200, 200, 200, 0) !important;
}

.inactive {
  .info {
    span {
      p {
        color: #bbb !important;
      }
    }
  }
}
.info {
  span {
    p {
      transition: color 0.5s ease;
      margin-bottom: 0;
    }
  }
}
