@font-size-base: 14px;

@color-primary: "#aaa";
@color-bg-dark: rgba(0, 0, 0, 0.8);
@color-fg-dark: #a0a09f;
@color-fg-dark-highlight: #fff;
@color-bg-light: white;
@color-fg-light: white; // #424242;
@color-highlight: rgba(255, 45, 45, 0.83); // #fe4719; // #ff7350;

@color-logo-dot: #373334;
@color-logo-text: #cccccc;

@size-sm: 600px;
// @size-md: 768px;
@size-md: 1032px;
@size-lg: 1200px;
@size-xl: 1600px;

@mg-left: 0px;
@mg-left-md: 0px;
@mg-left-sm: 0px;
@header-height: 120px;
@header-height-md: 80px;
@header-height-sm: 80px;
@padding: 16px;
@padding-md: 12px;
@padding-sm: 8px;

@cb-spap-back: cubic-bezier(0.49, 1.28, 0.73, 1.42);
@cb-fast-smooth: cubic-bezier(0.77, 0, 0.175, 1);
@cb-accelerate: cubic-bezier(1, 0, 1, 1);
@cb-decelerate: cubic-bezier(0, 0, 0, 1);
@mega-decel: cubic-bezier(0, 1, 0, 1);
@mega-accel: cubic-bezier(1, 0, 1, 0);
@mega-ease: cubic-bezier(1, 0, 0, 1);
