@import '../../../../styles/variables.less';

a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: @color-fg-dark;
  display: block;
  transition: all 0.3s ease;
  padding-left: 64px;
}
body.desktop {
  a:hover {
    color: @color-fg-dark-highlight;
  }
}
