@import "../../../../styles/variables.less";

:host {
  display: inline-block;
  position: relative;
}

a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 2rem;
  color: black; // @color-fg-dark;
  display: block;
  opacity: 0.5;
  transition: color 0.5s ease;
  padding-right: 16px;
  font-weight: 400;
}

:host ::ng-deep a span {
  font-weight: 300 !important;
}

.before {
  display: none;
  // width: 1.25rem;
  // height: 1.25rem;
  // background: transparent; // @color-highlight;
  // border-radius: 50%;
  // position: absolute;
  // left: 4.5rem;
  // top: 1.35rem;
}

a:hover,
a.active {
  // color: @color-highlight;
  opacity: 1;
}
a.active {
  text-decoration: underline;
}

// .before.active {
//   background: @color-highlight;
// }

// a:hover + .before {
//   border: 1px solid @color-highlight;
// }

// :host:hover .before {
// border: 1px solid @color-highlight;
// }

@media screen and (max-width: @size-md) {
  a {
    padding-left: 8px;
    display: block;
  }

  .before {
    position: relative;
    display: inline-block;
    top: unset;
    left: unset;
  }
}

@media screen and (max-width: @size-md) {
  :host {
    display: block;
    text-align: left;
    padding-left: 2rem;
    a {
      color: black;
      font-size: 2.5rem;
    }
  }
}
