<app-page-header color="black">
  <h3><app-snippet snippet="fairs-title"></app-snippet></h3>
</app-page-header>

<app-page-body>
  <app-scrollpane>
    <app-scrollpane-section #upcomingSection snippet="exhibitions-upcoming">
      <div class="fairs-list">
        <app-fair-card
          *ngFor="let fair of fairs | async | fairDateFilter: 'upcoming'"
          [fair]="fair"
          [showPictures]="false"
          [highlight]="true"
        ></app-fair-card>
      </div>
    </app-scrollpane-section>
    <app-scrollpane-section #pastSection snippet="exhibitions-past">
      <div class="fairs-list">
        <app-fair-card
          *ngFor="let fair of fairs | async | fairDateFilter: 'past'"
          [fair]="fair"
        ></app-fair-card>
      </div>
    </app-scrollpane-section>
    <div style="height: 400px;"></div>
  </app-scrollpane>
</app-page-body>
