<app-page-header>
  <h3><app-snippet snippet="fairs-title"></app-snippet></h3>
</app-page-header>

<app-page-body>
  <app-scrollpane>
    <app-scrollpane-section #upcomingSection snippet="exhibitions-upcoming">
      <div class="fairs-list">
        <div
          class="fair-card"
          *ngFor="let fair of fairs | async | fairDateFilter: 'upcoming'"
          [@fade]="true"
          [@listAnimation]="fair.animationState"
        >
          <div *ngIf="fair.thumbnail.exists">
            <app-smart-image
              [image]="fair.thumbnail"
              imageClass="hover-fx"
              size="2"
              routerLink="/fair/{{ fair.slug }}"
            ></app-smart-image>
          </div>
          <div class="fair-description">
            <h3 routerLink="/fair/{{ fair.slug }}">
              <app-typewriter
                [text]="fair.title"
                (finished)="fair.animationState = 'finished'"
              >
              </app-typewriter>
            </h3>
            <p *ngIf="fair.start && fair.end" class="date">
              {{ fair.start | date }} &nbsp;to&nbsp;{{ fair.end | date }}
            </p>
            <ul class="artist-links">
              <li
                *ngFor="
                  let artist of fair.animationState !== 'finished'
                    ? []
                    : fair.artists
                "
              >
                <a routerLink="/artist/{{ artist.slug }}">
                  {{ artist.name.first + ' ' + artist.name.last }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </app-scrollpane-section>
    <app-scrollpane-section #pastSection snippet="exhibitions-past">
      <div class="fairs-list">
        <div
          class="fair-card"
          *ngFor="let fair of fairs | async | fairDateFilter: 'past'"
          [@fade]="true"
          [@listAnimation]="fair.animationState"
        >
          <div *ngIf="fair.thumbnail.exists">
            <app-smart-image
              [image]="fair.thumbnail"
              imageClass="hover-fx"
              size="2"
              routerLink="/fair/{{ fair.slug }}"
            ></app-smart-image>
          </div>
          <div class="fair-description">
            <h3 routerLink="/fair/{{ fair.slug }}">
              <app-typewriter
                [text]="fair.title"
                (finished)="fair.animationState = 'finished'"
              >
              </app-typewriter>
            </h3>
            <p *ngIf="fair.start && fair.end" class="date">
              {{ fair.start | date }} &nbsp;to&nbsp;{{ fair.end | date }}
            </p>
            <ul class="artist-links">
              <li
                *ngFor="
                  let artist of fair.animationState !== 'finished'
                    ? []
                    : fair.artists
                "
              >
                <a routerLink="/artist/{{ artist.slug }}">
                  {{ artist.name.first + ' ' + artist.name.last }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <br />
      </div>
    </app-scrollpane-section>
    <div style="height: 400px;"></div>
  </app-scrollpane>
</app-page-body>
