@import "../../../../styles/variables.less";

:host {
  display: block;
  padding: 8px;
  padding-right: 16px;
  text-align: center;
}

.form-actions {
  max-width: 400px;
  text-align: right;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.form-group.check {
  span {
    color: black;
  }
  max-width: 400px;
  text-align: unset;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2rem;
}

:host ::ng-deep a span,
:host ::ng-deep a {
  color: black;
}

:host ::ng-deep a:hover span,
:host ::ng-deep a:hover {
  // color: @color-highlight;
  border-bottom: 1px solid black;
  display: inline-block;
  text-decoration: none;
}
