<div
  class="exhibition-card"
  *ngIf="exhibition"
  appScrollTo
  [ratio]="0.3"
  (inViewport)="inViewportChange($event)"
  [class.in-view]="viewportPosition < 1"
>
  <app-smart-image
    [image]="exhibition.coverPicture"
    imageClass="hover-fx"
    size="2"
    routerLink="/exhibitions/{{ exhibition.slug }}"
  ></app-smart-image>
  <div class="ex-description">
    <h3>
      <a routerLink="/exhibitions/{{ exhibition.slug }}">
        {{ exhibition.title }}
      </a>
    </h3>
    <p *ngIf="exhibition.start && exhibition.end" class="date">
      <span>
        {{ exhibition | dateRange: lang.language }}
      </span>
      &nbsp;|&nbsp;
      <span>
        {{ exhibition.location.location }}
      </span>
    </p>
  </div>
</div>
