<div
  class="exhibition-card"
  *ngIf="exhibition"
  appScrollTo
  [ratio]="0.3"
  (inViewport)="inViewportChange($event)"
  [class.in-view]="viewportPosition < 1"
>
  <!-- <cl-image *ngIf="exhibition.coverPicture.exists"
    [public-id]="exhibition.coverPicture.id"
  ></cl-image> -->
  <app-smart-image
    [image]="exhibition.coverPicture"
    [hoverFx]="true"
    size="2"
    routerLink="/exhibition/{{ exhibition.slug }}"
  ></app-smart-image>
  <div class="ex-description">
    <h3>
      <a routerLink="/exhibition/{{ exhibition.slug }}">
        {{ exhibition.title }}
      </a>
    </h3>
    <p *ngIf="exhibition.start && exhibition.end" class="date">
      {{ exhibition.start | date }}&nbsp;to {{ exhibition.end | date }},&nbsp;
      {{ exhibition.location.location }}
    </p>
    <ul class="artist-links">
      <div *ngIf="exhibition.artists.length === 1">
        <li *ngFor="let artist of exhibition.artists">
          <a routerLink="/artist/{{ artist.slug }}">
            {{ artist.name.first + ' ' + artist.name.last }}
          </a>
        </li>
      </div>
      <li *ngIf="exhibition.artists && exhibition.artists.length > 1">
        <app-snippet snippet="exhibitions-group-exhibition"></app-snippet>
      </li>
    </ul>
  </div>
</div>
