<div *ngIf="!loading">
  <ul class="social-links">
    <li *ngFor="let link of sociallinks">
      <a (click)="goTo(link)">
        <img
          src="assets/images/artsy-logo.png"
          alt=""
          *ngIf="link.key == 'artsy'; else faLink"
          style="height: 16px !important; width: 16px !important; object-fit: contain; vertical-align: top; margin-top: 2px;"
        />
        <ng-template #faLink>
          <i class="fa {{ link.icon }}"></i>
        </ng-template>
      </a>
    </li>
  </ul>
</div>
