@import "../../../../../styles/variables.less";

:host ::ng-deep {
  .post-content {
    display: none;
    width: 61%;
    padding-right: 1rem;
    display: inline-block;
    vertical-align: top;
    p {
      color: black !important;
      margin-top: 0;

      a {
        color: black !important;
        text-transform: uppercase;
        border-bottom: 1px solid @color-highlight;
        text-decoration: none;
      }

      a:hover,
      a:hover span {
        color: @color-highlight;
      }
    }
  }
}

:host {
  text-align: left;
  .post-title {
    a {
      text-decoration: none;
      font-style: normal;
      font-weight: 300;
      color: black; // @color-highlight;
    }
    // max-width: 62%;
    margin-bottom: 0;
  }

  .grid {
    display: grid;
    grid-gap: 8px;
    margin-bottom: 3rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 0px;
    grid-template-areas:
      "a b"
      "c d";
    .read-more {
      margin: 0;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: absolute;
      left: 0;
      bottom: 0;
      a {
        text-decoration: none;
        color: @color-highlight;
      }
      a:hover {
        color: @color-highlight;
        text-decoration: underline;
      }
    }
  }

  p.date {
    margin: 0;
    color: #555;
    letter-spacing: 2px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  display: block;
  width: 100%;
  position: relative;

  .post-img-container {
    width: 100%;
    // margin-left: 50%;
    // transform: translateX(-50%);
    display: inline-block;
  }
  min-height: 240px;
  padding-top: 32px;
  padding-bottom: 12px;
  border-bottom: 1px solid lightgray;
}

:host.small {
  .grid {
    grid-template-rows: auto auto;
    grid-gap: 0;
    grid-template-columns: 100%;
    grid-template-areas: "a" "b";
  }

  .description {
    .inner-grid {
      grid-template-rows: 2.5rem 1fr;
    }
  }

  .read-more {
    display: none;
  }

  ul.artist-links {
    margin-bottom: 1rem;
    li {
      display: inline;
    }

    li::after {
      content: ", ";
      color: #bbb;
      white-space: pre;
    }

    li:last-child::after {
      content: "";
    }
  }
}

:host /deep/ .post-img img {
  width: 100%;
  max-height: 480px;
  // margin-left: 50%;
  // transform: translateX(-50%);
  object-fit: cover;
}

@media screen and (max-width: @size-sm) {
  .post-content {
    padding-left: 8px;
  }
}

@media screen and (min-width: 800px) {
  .post-content {
    padding-left: 16px;
  }
}

@media screen and (max-width: @size-sm) {
  :host {
    .post-title {
      max-width: calc(100% - 2rem);
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 2.2rem;
    }
    p.date {
      padding-left: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .post-img-container {
      width: 100%;
    }
    .post-content {
      width: 100%;
    }
  }
}
