<app-page-header>
  <h3 routerLink="/news">
    <!-- <i class="fa fa-angle-double-left"></i>&nbsp; -->
    <app-snippet snippet="news-title"></app-snippet>
    <!-- <app-typewriter [text]="postTitle()"></app-typewriter> -->
  </h3>
</app-page-header>

<app-page-body>
  <app-scrollpane *ngIf="post">
    <app-smart-image [image]="post.image" size="0"></app-smart-image>
    <!-- <div *ngIf="post" [innerHtml]="post.content.extended"></div> -->
    <h1>{{ postTitle() }}</h1>
    <p class="date gt-america">
      {{ post.publishedDate | xcDate: lang.language }}
    </p>
    <br /><br />
    <app-html-block [content]="post.content.extended"></app-html-block>
  </app-scrollpane>
</app-page-body>
