@import "../../../../styles/variables.less";

app-page-header {
  pointer-events: all;
  h3 {
    transition: all 0.5s ease;
    cursor: pointer;
    outline: none !important;
  }
}

h1 {
  color: black; //@color-highlight;
  font-weight: 300;
  font-family: "Nib Pro", sans-serif, "FZJunHeiS-M-GB";
}

.date {
  color: #555;
  letter-spacing: 2px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

:host ::ng-deep app-page-header .titlebar {
  pointer-events: all;
}
:host app-page-body {
  text-align: left;
}

:host ::ng-deep .scrollpane-content {
  max-width: 800px;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

:host ::ng-deep app-smart-image {
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 1200px) {
  :host ::ng-deep app-page-body {
    margin-left: 0;
  }
}

@media screen and (max-width: @size-md) {
  :host ::ng-deep app-page-header {
    background: white !important;
  }
}
