<app-nav-toggle (toggled)="navToggled($event)" [open]="isOpen"></app-nav-toggle>

<div
  id="nav"
  class="nav"
  [@open-close]="isOpen ? 'open' : 'closed'"
  [class.open]="isOpen"
  [style.background]="navC.backgroundColor"
>
  <app-logo></app-logo>
  <!-- <br /> -->
  <br />
  <br />
  <!-- <app-scrollpane [boxShadows]="false" [noPadding]="true"> -->
  <!-- <app-navlink -->
  <!--   (clicked)="navToggled(false)" -->
  <!--   href="/" -->
  <!--   section="home" -->
  <!--   snippet="menu-home" -->
  <!--   [active]="section == 'home'" -->
  <!-- ></app-navlink> -->
  <app-navlink
    (clicked)="navToggled(false)"
    href="/artists"
    section="artists"
    snippet="menu-artists"
    [active]="section == 'artists'"
  ></app-navlink>
  <app-navlink
    (clicked)="navToggled(false)"
    href="/exhibitions"
    section="exhibitions"
    snippet="menu-exhibitions"
    [active]="section == 'exhibitions'"
  ></app-navlink>
  <app-navlink
    (clicked)="navToggled(false)"
    href="/fairs"
    section="fairs"
    snippet="menu-fairs"
    [active]="section == 'fairs'"
  ></app-navlink>
  <!-- <app-navlink
    (clicked)="navToggled(false)"
    href="/libary"
    section="libary"
    snippet="menu-libary"
  ></app-navlink> -->
  <app-navlink
    (clicked)="navToggled(false)"
    href="/news"
    section="news"
    snippet="menu-news"
    [active]="section == 'news'"
  ></app-navlink>
  <app-navlink
    (clicked)="navToggled(false)"
    href="/about"
    section="aboout"
    snippet="menu-about"
    [active]="section == 'about'"
  ></app-navlink>
  <app-navlink
    (clicked)="navToggled(false)"
    href="/contact"
    section="contact"
    snippet="menu-contact"
    [active]="section == 'contact'"
    class="contact-link"
    (mouseover)="contactHover = true"
    (mouseout)="contactHover = false"
  ></app-navlink>

  <!-- <app-sociallinks color="white" [class.hover]="contactHover"></app-sociallinks> -->
  <!-- </app-scrollpane> -->
  <app-language-select></app-language-select>
</div>
