<img
  *ngIf="image.exists"
  [src]="imageUrl"
  [class]="imageClass"
  (load)="onImagesLoaded()"
  (click)="click()"
/>

<!-- [@fade]="loading ? 'out' : 'in'" -->
<!-- <app-spinner [@fade]="loading ? 'in' : 'out'" *ngIf="loading"> 

</app-spinner> -->
<!-- <div class="placeholder" *ngIf="!imageExists">
  <h3>...</h3>
</div> -->

<!-- <div class="info">
  <p *ngIf="resolution">reso: (w:{{resolution.width}}, h:{{resolution.height}})</p>
  <p *ngIf="image">orig: (w:{{image.width}}, h:{{image.height}})</p>
  <p *ngIf="clientRect">client: (w:{{clientRect.width}}, h:{{clientRect.height}})</p>
</div> -->
