@import "../../../../../styles/variables.less";

:host {
  display: block;
  position: relative;
}

.placeholder {
  height: 0;
  background: transparent;
}
.aw-caption {
  position: absolute;
  left: 0;
  top: 0;
  // right: 16px;
  // top: 74px;
  // top: -4rem;
  // right: 0;
  // text-align: right;

  p {
    line-height: 1.1;
    font-size: 1.3rem;
    margin: 0;
    max-width: 180px;
    // white-space: nowrap;
    overflow: hidden;
    // text-overflow: ellipsis;
  }
}
.grid-item {
  text-align: center;
  // transition: transform 0.3s ease;
}
:host /deep/ img.carousel {
  object-fit: contain;
}
:host /deep/ img.collage {
  object-fit: contain;
}

// @media screen and (min-width: @size-lg) {
//   :host /deep/ img.carousel {
//     width: 150px;
//     height: 150px;
//   }
// }
// @media screen and (min-width: @size-xl) {
//   :host /deep/ img.carousel {
//     width: 200px;
//     height: 200px;
//   }
// }

.banner {
  padding: 16px;
  padding-left: 0;
  padding-right: 0;
  // min-height: 680px;
  background: rgba(255, 255, 255, 1);
  position: relative;

  .container {
    position: relative;

    .left {
      position: absolute;
      width: 50%;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      cursor: url("/assets/cursors/arrow-left.svg"), auto;
      background: transparent;
    }
    .right {
      position: absolute;
      width: 50%;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      cursor: url("/assets/cursors/arrow-right.svg"), auto;
      background: transparent;
    }
  }

  h1 {
    // text-align: right;
    // letter-spacing: 2px;
    // font-weight: 500;
    margin-bottom: 2rem;
    margin-top: 0;
    position: sticky;
    z-index: 90;
    top: 10rem; //96px;
    background: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 2rem;

    // position: absolute;
    // right: 16px;
    // top: 16px;
  }
  .view-switcher {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;

    img {
      width: 32px;
      height: 32px;
      margin-top: 8px;
      margin-left: 8px;
      margin-right: 8px;
      opacity: 0.4;
      transition: opacity 0.2s ease;
    }
    img.active {
      opacity: 1;
    }
  }
}

@media screen and (max-width: @size-sm) {
  .aw-caption {
    display: none;
  }
}

:host ::ng-deep {
  h1 {
    span {
      color: black;
    }
  }
}

@media screen and (max-width: @size-md) {
  .banner {
    h1 {
      top: 11rem;
      padding-left: 1rem;
      font-size: 2rem;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  :host /deep/ img.collage {
    height: auto;
    width: calc(100% - 2rem);
    object-fit: contain;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
