<div class="full-page">
  <app-parallax
    [invertX]="true"
    [invertY]="true"
    [style.opacity]="loading ? 0 : 1"
  >
    <div class="layer" data-depth="0.0">
      <app-slideshow
        slideDuration="80000"
        [images]="images"
        animation="fade"
        transitionDuration="800ms"
        (slideChanged)="slideChanged($event)"
        (contentRendered)="slideshowContentRendered($event)"
        (imageLoadProgress)="slideshowLoadingProgress($event)"
        imageClass="slideshow-img"
        [imageSize]="0"
        #slideshow
      >
      </app-slideshow>
    </div>
    <div class="layer" data-depth="0.0" style="pointer-events: all;">
      <app-slideshow-cursor-controller
        [slideshow]="slideshow"
        *ngIf="slides"
      ></app-slideshow-cursor-controller>
      <div>
        <div
          *ngFor="let slide of slides"
          class="slideshow-title"
          [ngClass]="classesFor(slide)"
          [@fade]="slide.animationState"
        >
          <h3 class="subtitle gt-america" *ngIf="slide.animationState == 'in'">
            <!-- [style.color]="slide.customColor" -->
            {{ slide.subtitle }}
          </h3>
          <h2 class="title" *ngIf="slide.animationState == 'in'">
            <a [routerLink]="slide.linkUrl" [style.color]="slide.customColor">
              {{ slide.title }}
            </a>
          </h2>
          <h3
            class="caption"
            [style.color]="slide.customColor"
            *ngIf="slide.animationState == 'in'"
          >
            {{ slide.caption }}
          </h3>
        </div>
        <h3
          class="current-exhibition"
          *ngIf="activeSlide && activeSlide.currentExhibition"
          [style.color]="color"
          [class.chinese]="lang.language == 'chinese'"
        >
          <app-snippet snippet="current-exhibition"></app-snippet>
        </h3>
      </div>

      <div class="numbers" *ngIf="slides">
        <p>{{ (activeIndex % slides.length) + 1 }}&frasl;{{ slides.length }}</p>
      </div>

      <app-slideshow-cursor-controller
        [slideshow]="slideshow"
        *ngIf="slides"
      ></app-slideshow-cursor-controller>
    </div>
  </app-parallax>
  <app-spinner *ngIf="loading">
    <app-progress-bar [progress]="progress.ratio"></app-progress-bar>
  </app-spinner>
</div>
