@import "../../../../styles/variables.less";

.full-page {
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.layer {
  width: 100%;
  height: 100%;
}

:host /deep/ .slideshow-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  max-height: unset !important;
  max-width: unset !important;
  object-fit: cover;
  // opacity: 0;
}

body.desktop {
  .slideshow-title {
    a:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.slideshow-title {
  position: absolute;
  opacity: 0;

  h2,
  h2 a,
  h2 a em {
    transition: all 0.4s ease;
    background: inherit;
    text-transform: uppercase;
    // font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    font-weight: 600 !important;
    color: black;
  }

  h2 a:hover {
    color: @color-highlight;
  }

  h3 {
    transition: all 0.4s ease;
    background: inherit;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600 !important;
  }
  h3.subtitle {
    color: @color-highlight !important;
  }
}
.slideshow-title.left {
  bottom: 8rem;
  left: 8rem;
  h2,
  h2 a,
  h3 {
    text-align: left;
  }
  h2,
  h3 {
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
  h2 {
    animation-name: moveInRight;
  }
  h3 {
    animation-name: moveInLeft;
  }
}
.slideshow-title.right {
  bottom: 8rem;
  right: 8rem;
  h2,
  h2 a,
  h3 {
    text-align: right;
  }
  h2,
  h3 {
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
  h2 {
    animation-name: moveInLeft;
  }
  h3 {
    animation-name: moveInRight;
  }
}
.slideshow-title.top {
  top: 8rem;
  right: 8rem;
  h2,
  h2 a,
  h3 {
    text-align: right;
  }
  h2,
  h3 {
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
  h2 {
    animation-name: moveInLeft;
  }
  h3 {
    animation-name: moveInRight;
  }
}
.slideshow-title.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2,
  h2 a,
  h3 {
    text-align: center;
  }
  h2,
  h3 {
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
  h2 {
    animation-name: moveInLeft;
  }
}
.slideshow-title.bright {
  h2,
  h2 a,
  h3 {
    color: @color-fg-dark-highlight;
  }
}
.slideshow-title.dark {
  h2,
  h2 a,
  h2 a em,
  h3 {
    color: black;
  }
}

h2 {
  font-size: 40px;
}
h3 {
  font-size: 25px;
}

app-parallax {
  transition: opacity 1s ease;
}
