@import "../../../../styles/variables.less";

.full-page {
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.layer {
  width: 100%;
  height: 100%;
}

:host /deep/ .slideshow-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  max-height: unset !important;
  max-width: unset !important;
  object-fit: cover;
  // opacity: 0;
}

h3.current-exhibition {
  position: fixed;
  text-transform: uppercase;
  left: 4rem;
  transform-origin: 0 0;
  top: 50%;
  transform: rotate(-90deg) translateX(-50%);
  font-size: 2rem;
  margin: 0;
}
h3.current-exhibition.chinese {
  transform: translateY(-50%);
  letter-spacing: 2px;
  writing-mode: vertical-rl;
}
:host ::ng-deep h3.current-exhibition span {
  font-weight: 600;
}

.slideshow-title {
  h2 a:hover {
    // opacity: 0.7;
    // color: @color-highlight;
    text-decoration: underline;
  }
}

.slideshow-title {
  position: absolute;
  opacity: 0;
  z-index: 6;

  h2,
  h2 a,
  h2 a em {
    transition: all 0.4s ease;
    background: inherit;
    text-transform: uppercase;
    // font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    font-weight: 600 !important;
    color: black;
  }

  // h2 a:hover {
  //   color: @color-highlight;
  // }

  h3 {
    transition: all 0.4s ease;
    background: inherit;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600 !important;
    text-transform: uppercase;
  }
  h3.subtitle {
    color: @color-highlight !important;
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 2.8rem;
  }

  h2,
  h3 {
    line-height: 1 !important;
  }
}
.slideshow-title.left {
  bottom: 8rem;
  left: 8rem;
  h2,
  h2 a,
  h3 {
    text-align: left;
  }
  h2,
  h3 {
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
  h2 {
    // animation-name: moveInRight;
    animation-name: fadeIn;
  }
  h3 {
    // animation-name: moveInLeft;
    animation-name: fadeIn;
  }
}
.slideshow-title.right {
  bottom: 8rem;
  right: 8rem;
  h2,
  h2 a,
  h3 {
    text-align: right;
  }
  h2,
  h3 {
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
  h2 {
    animation-name: fadeIn;
    // animation-name: moveInLeft;
  }
  h3 {
    animation-name: fadeIn;
    // animation-name: moveInRight;
  }
}
.slideshow-title.top {
  top: 8rem;
  right: 8rem;
  h2,
  h2 a,
  h3 {
    text-align: right;
  }
  h2,
  h3 {
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
  h2 {
    animation-name: fadeIn;
    // animation-name: moveInLeft;
  }
  h3 {
    animation-name: fadeIn;
    // animation-name: moveInRight;
  }
}
.slideshow-title.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2,
  h2 a,
  h3 {
    text-align: center;
  }
  h2,
  h3 {
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
  h2 {
    // animation-name: moveInLeft;
    animation-name: fadeIn;
  }
}
.slideshow-title.bright {
  h2,
  h2 a,
  h3 {
    color: @color-fg-dark-highlight;
  }
}
.slideshow-title.dark {
  h2,
  h2 a,
  h2 a em,
  h3 {
    color: black;
  }
}

// h2 {
//   font-size: 40px;
// }
// h3 {
//   font-size: 25px;
// }

app-parallax {
  transition: opacity 1s ease;
}

.numbers {
  p {
    color: @color-highlight;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
  }

  position: absolute;
  bottom: 4rem;
  right: 4rem;
}

@media screen and (max-width: @size-md) {
  .numbers {
    p {
      font-size: 2rem;
    }
    right: 2rem;
    bottom: unset;
    top: 2rem;
  }

  h3.current-exhibition {
    display: none;
  }

  // .slideshow-title {
  //   h3.subtitle {
  //     font-size: 2.8rem;
  //   }

  //   h2.title {
  //     font-size: 2.8rem;
  //   }
  //   h3.caption {
  //     font-size: 1.3rem;
  //   }
  // }

  .slideshow-title.left {
    bottom: 6rem;
    left: 2rem;
  }
  .slideshow-title.right {
    bottom: 6rem;
    right: 2rem;
  }
  .slideshow-title.top {
    top: 8rem;
    right: 2rem;
  }
  .slideshow-title.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
