<div
  class="footer"
  appScrollTo
  [ratio]="0.75"
  (inViewport)="viewportChange($event)"
  [class.in-viewport]="inViewport"
>
  <div class="footer-content">
    <p>
      &copy;2019, huart company gmbh, <br />all rights reserved<br />
      Potsdamer Strasse 81b, 10785 Berlin<br />
    </p>
    <p>
      +49 (0) 30 25792410&nbsp;<br />
      <a routerLink="/contact">Contact Xc.Hua Gallery</a> <br />
      <a routerLink="/pages/data-protection-agreement">
        data protection policy
      </a>
      <!-- &nbsp;|&nbsp;
      <a routerLink="/pages/cookie-policy">cookie policy</a>&nbsp;|&nbsp;
      <a routerLink="/pages/imprint">imprint</a> -->
    </p>
    <!-- <img src="assets/images/Logo_HuartCompany_text.png" style="height:2.5rem;"> -->
    <!-- <p>All Rights Reserved</p> -->
    <!-- <p>
      Website by
      <a href="https://janikhotz.github.io" target="_blank">
        <em>Janik Hotz</em>
      </a>
    </p> -->
  </div>
</div>
