@import "../../../styles/variables.less";

.logo {
  position: absolute;
  text-decoration: none;
  display: block;
  top: 12px;
  left: 12px;
  cursor: pointer;
  padding-left: 2rem;

  svg {
    width: auto;
    height: 5rem;
  }
}

.links {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 400;
  text-decoration: none;
  // bottom: 12px;
  right: 61px;
  cursor: pointer;
  width: 150px;

  // transform: 'translate(-29%, 0)';

  a {
    display: block;
    flex: 1;
    text-decoration: none;
    font-size: 1.7rem;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    // font-weight: 300;
    color: #888;
  }
}

body.desktop {
  .links {
    a:hover {
      color: @color-logo-dot;
      // font-weight: 400;
    }
  }
}

@media screen and (max-width: @size-md) {
  .logo {
    padding-left: 0;
  }
}
