<app-page-header>
  <h3><app-snippet snippet="artists-title"></app-snippet></h3>
</app-page-header>

<app-tabbar>
  <li [class.active]="residentSection.active">
    <div>
      <a (click)="scrollpane.scrollToSection(residentSection)">
        <app-snippet snippet="artists-resident"></app-snippet>
      </a>
    </div>
  </li>
  <li [class.active]="guestSection.active">
    <div>
      <a (click)="scrollpane.scrollToSection(guestSection)">
        <app-snippet snippet="artists-guest"></app-snippet>
      </a>
    </div>
  </li>
</app-tabbar>

<app-page-body>
  <div class="list-container">
    <app-scrollpane [showLines]="false" [showTabbar]="false" #scrollpane>
      <app-scrollpane-section
        #residentSection
        snippet="artists-resident"
        active="true"
        style="min-height: 90vh;"
      >
        <ul class="artists-list">
          <li
            class="artist-link"
            *ngFor="let artist of residentArtists; let i = index"
            [class.section-active]="residentSection.active"
            [@linkEnter]="linkEnter(i)"
            (@linkEnter.done)="allAnimationsDone(i)"
            (mouseenter)="artistMouseover(artist)"
            (press)="artistMouseover(artist)"
          >
            <!-- appScrollTo [offset]="158"
            (scrolledTo)="artistMouseover(artist)" -->
            <a routerLink="/artists/{{ artist.slug }}">
              {{ artist.name.first + " " + artist.name.last }}
            </a>
          </li>
        </ul>
      </app-scrollpane-section>
      <app-scrollpane-section #guestSection snippet="artists-guest">
        <ul class="artists-list">
          <li
            class="artist-link"
            *ngFor="let artist of guestArtists; let i = index"
            [class.section-active]="guestSection.active"
            [@linkEnter]="linkEnter(i + residentArtists.length)"
            (mouseenter)="artistMouseover(artist)"
            (press)="artistMouseover(artist)"
          >
            <a routerLink="/artists/{{ artist.slug }}">
              {{ artist.name.first + " " + artist.name.last }}
            </a>
          </li>
        </ul>
      </app-scrollpane-section>

      <div style="height: 300px;"></div>
    </app-scrollpane>
  </div>
  <div class="picture-container" *ngIf="showPreview">
    <app-slideshow
      *ngIf="!loading"
      animation="fade"
      transitionDuration="600ms"
      easingFunction="ease"
      imageClass="preview"
      imageFit="contain"
      [images]="previewPictures"
      [currentSlide]="previewImage"
      [imageSize]="previewImageSize"
      (imageLoadProgress)="progressChanged($event)"
      [class.hidden]="!progress.done"
    >
    </app-slideshow>
    <app-spinner
      *ngIf="!progress.done"
      [style.opacity]="!progress.done ? 1 : 0"
    >
      <app-progress-bar [progress]="progress.ratio"></app-progress-bar>
    </app-spinner>
  </div>
</app-page-body>
