<app-page-header>
  <h3 routerLink="/exhibitions">
    <!-- <i class="fa fa-angle-double-left"></i>&nbsp; -->
    <app-snippet snippet="exhibitions-title"></app-snippet>
  </h3>
</app-page-header>

<app-page-body>
  <app-spinner *ngIf="loading"></app-spinner>
  <app-scrollpane *ngIf="exhibition" (scrolled)="onScrolled($event)">
    <div class="heading">
      <p class="date" style="margin-bottom: 1rem;">
        {{ exhibition.location.location }}
      </p>
    </div>
    <h1 class="title">
      <app-typewriter [text]="exhibitionTitle"></app-typewriter>
    </h1>
    <div class="heading">
      <!-- {{ exhibition.start | date }}&nbsp;to {{ exhibition.end | date }},&nbsp; -->
      <ul class="artist-links">
        <li *ngFor="let artist of exhibition.artists">
          <a routerLink="/artists/{{ artist.slug }}">
            {{ artist.name.first + " " + artist.name.last }}
          </a>
        </li>
      </ul>
      <p *ngIf="exhibition.start && exhibition.end" class="date">
        {{ exhibition | dateRange: lang.language }}
      </p>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <!-- <div class="sticky-placeholder"></div> -->
    <div class="grid">
      <div class="mobile-cover">
        <app-smart-image
          [image]="exhibition.coverPicture"
          size="0"
          imageClass="cover-picture-img"
        >
        </app-smart-image>
      </div>
      <div class="text">
        <app-html-block
          [content]="exhibition.text"
          [collapsed]="true"
        ></app-html-block>
      </div>
      <div class="right">
        <div class="sticky">
          <div class="cover-picture">
            <app-smart-image
              [image]="exhibition.coverPicture"
              size="0"
              imageClass="cover-picture-img"
            >
            </app-smart-image>
          </div>

          <div class="gallery" modalImages>
            <div class="container">
              <!-- appScrollTo [ratio]="0.01" -->
              <!-- (inViewport)="picturesMasonryViewportChange($event)" -->
              <!-- *ngIf="showPicturesMasonry" -->
              <app-masonry #masonry>
                <div
                  #gridItem
                  class="grid-item"
                  *ngFor="let image of exhibition.pictures"
                  class="in-view"
                >
                  <!-- appScrollTo
                [ratio]="0.4"
                (inViewport)="inViewportChange(image, $event)"
                [class.in-view]="image.animationState < 1" -->
                  <app-smart-image
                    [image]="image"
                    size="3"
                    imageClass="hover-fx"
                  ></app-smart-image>
                </div>
              </app-masonry>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="gallery" modalImages>
      <div class="container">
        <app-masonry #artworksMasonry [gutter]="48">
          <div
            #gridItem
            class="grid-item"
            *ngFor="let artwork of exhibition.artworks"
            appScrollTo
            [ratio]="0.4"
            (inViewport)="inViewportChange(artwork, $event)"
            [class.in-view]="artwork.animationState < 1"
          >
            <app-artwork [artwork]="artwork" size="3"></app-artwork>
          </div>
        </app-masonry>
      </div>
    </div>
  </app-scrollpane>
</app-page-body>
