@import "../../../../styles/variables.less";

@background-color: rgba(255, 255, 255, 0.95);

:host ::ng-deep app-exhibitions-list {
  max-width: 800px;
}
:host ::ng-deep app-exhibitions-list-item {
  padding: 0 !important;
}

app-page-header {
  pointer-events: all;
  h3 {
    transition: all 0.5s ease;
    cursor: pointer;
    outline: none !important;
  }
}

:host ::ng-deep app-page-header .titlebar {
  pointer-events: all;
}

:host ::ng-deep app-tabbar {
  display: none;
}

:host ::ng-deep .heading {
  margin-top: -8rem;
  padding-top: 6.5rem;
  padding-bottom: 1rem;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 1);
  h1.title {
    color: black;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding-top: 1rem;
    span {
      font-weight: 600;
      color: black;
    }
  }

  ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-left: 8rem;
    padding-top: 14px;
    li {
      display: inline-block;
      text-transform: uppercase;
      position: relative;
      margin-right: 2rem;
      vertical-align: top;
      font-size: 2rem;
      a {
        display: inline-block;
        color: black;
        font-weight: 600;
      }
      cursor: pointer;
      ul.submenu {
        padding-top: 0.5rem;
        // position: absolute;
        list-style-type: none;
        display: none;
        padding: 0;
        margin: 0;
        line-height: 1.25;
        width: 0;

        li {
          display: block;
          white-space: nowrap;
          text-transform: capitalize;
          font-size: 2rem;
          width: auto;
          // line-height: 1;

          a {
            border-bottom: 1px solid transparent;
            font-weight: 300;
          }
        }

        @media (hover: hover) {
          li:hover a {
            border-bottom: 1px solid @color-highlight;
          }
        }
      }
    }
    @media (hover: hover) {
      li:hover a {
        border-bottom: 1px solid @color-highlight;
      }
    }
    li.active a {
      border-bottom: 1px solid @color-highlight;
    }
    @media (hover: hover) {
      li:hover {
        ul.submenu {
          display: block;
        }
      }
    }
  }
}

:host ::ng-deep .page {
  overflow: unset !important;
}

app-html-block {
  max-width: 800px;
  padding-bottom: 24px !important;
}

.text {
  background: @background-color;
  transition: opacity 0.6s ease;
  margin-top: 80px;
  opacity: 0;

  a,
  a span {
    color: black !important;
  }
}

@media screen and (max-width: 768px) {
  .text {
    a {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.grid-item {
  transform: translateY(10%);
  transition: transform 1s ease, opacity 1s ease;
  opacity: 0;
}

.grid-item.in-view {
  transform: translateY(0);
  opacity: 1;
}

@keyframes arrow-blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.down-arrow {
  position: fixed;
  z-index: 10;
  bottom: 64px;
  left: 50%;
  width: 32px;
  transform: translateX(-50%);
  background: transparent;
  text-align: center;
  transition: opacity 1s ease;
  font-size: 1.5rem;
  line-height: 0.5rem;
  cursor: pointer;

  .arrow {
    width: 100%;
    height: 10px;
    color: @color-logo-dot;
    animation-name: arrow-blink;
    animation-duration: 1600ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
}

app-html-block {
  padding-top: 24px !important;
}

@media screen and (min-width: 1400px) {
  :host ::ng-deep app-page-body {
    margin-left: 0;
  }
}

:host ::ng-deep .scrollpane-content {
  max-width: 1000px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

@media screen and (max-width: @size-md) {
  :host ::ng-deep .heading {
    padding-top: 5rem;
    white-space: normal;
    h1.title {
      // font-size: 2.5rem;
      // line-height: 2.5rem;
      padding-left: 1rem;
      margin-bottom: 0.5rem;
      padding-top: 0;
    }

    ul.menu {
      padding-left: 1rem;
      margin-left: 0;
      display: block;
      padding-top: 0;
      line-height: 1.5;
      li {
        font-size: 1.5rem;
      }
    }
  }
}
