@import "../../../../styles/variables.less";

:host {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 7rem; //@header-height;
  overflow: visible;
  box-sizing: border-box;
  background: white;

  // border: 1px dotted gray;
  padding-top: 0px;
}

:host.german ::ng-deep {
  .tabs {
    li {
      // padding-left: 6px;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}
// @media screen and (max-width: @size-md) {
//     :host {
//         position: fixed;
//         top: 0;
//         left: @mg-left-sm;
//         height: @header-height-sm;
//         width: auto;
//         padding-top: 6px;
//     }
// }

@media screen and (max-width: @size-md) {
  :host ::ng-deep {
    position: fixed;
    top: 4rem;
    height: auto;
    width: auto;
    bottom: unset;
    margin-top: 0;
    left: 0;
    padding-top: 0;
    padding-left: 2rem;
    .tabs {
      flex-direction: row !important;
      margin-top: 0;
      padding-left: 0;
    }
  }
  :host /deep/ .tabs li {
    padding-left: 12px !important;
  }
  :host /deep/ .tabs li.subsection {
    display: none;
  }
}

:host /deep/ .tabs {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  flex-direction: column;
  padding-top: 0px;
  padding-left: 32px;
  li {
    display: block;
    text-transform: capitalize;
    color: @color-fg-dark;
    transition: all 0.5s;
    font-size: 2rem;
    white-space: nowrap;
    line-height: 2rem;
    position: relative;
    cursor: pointer;
    height: 3rem;
    a {
      text-decoration: none;
      // color: #fff;
      color: black;
      opacity: 0.5;
      transition: all 0.4s ease;
      display: block;
      width: 100%;
    }
    a,
    a * {
      font-family: "Nib Pro", sans-serif, "FZJunHeiS-M-GB";
    }
  }
  // li.subsection {
  // padding-left: 32px;
  // text-transform: lowercase;
  // }
  li.active {
    a {
      // color: @color-highlight;
      opacity: 1;
    }
  }
}

.tab {
  display: none;
  transition: all 1s ease;
  height: 100%;
}
.tab.active {
  display: block;
}

@media screen and (max-width: 1023px) {
  :host {
    display: none;
  }
}
