@import "../../../../styles/variables.less";

:host {
  display: block;
  position: fixed;
  top: 9rem;
  left: 7rem;
  // right: 0;
  width: auto; //190px;
  height: auto; //@header-height;
  // border: 1px solid red;
  box-sizing: border-box;
  z-index: 20;
  background: transparent;
  pointer-events: none;
  overflow: visible;
}

.titlebar {
  // position: absolute;
  // pointer-events: none;

  height: auto;
  width: 100%;
  padding-left: 0; //46px;
  padding-top: 0; //32px;

  overflow: visible;
  white-space: nowrap;
  box-sizing: border-box;
  // border: 1px dotted grey;
}

h3 {
  color: #000;
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: lowercase;
}
:host /deep/ h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  // padding-left: @padding * 2;
  padding-left: 0;
  font-size: 3rem;
  color: #333;
  // font-weight: 100;
}

h3.subsection {
  color: red;
  text-transform: uppercase;
}
h3.subsection:not(:empty)::before {
  content: "\021B3";
  font-size: 2rem;
  vertical-align: top;
  display: inline-block;
  width: 2rem;
  padding-left: 0.5rem;
}

.scroll-links {
  ul {
    // padding-left: 0;
    // list-style-type: none;
    // display: flex;
    // justify-content: space-between;
    margin: 0;
    font-size: 2rem;
    padding-left: 0;
    margin-left: 2rem;
    li {
      max-height: 0px;
      overflow: hidden;
      margin-right: 0.5rem;
      transition: max-height 0.5s ease-out;
      a {
        color: black;
        text-transform: lowercase;
      }
    }
    li.active {
      // display: list-item;
      max-height: 4rem;
    }
    li.active a {
      color: black;
    }
  }
  ul:hover {
    background: white;
    li {
      max-height: 4rem;
    }
  }
}

.bottom-shadow {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  height: 20px;
  z-index: 10;
  box-shadow: 0px -7px 29px 23px rgba(255, 255, 255, 1);
}

@media screen and (max-width: @size-md) {
  :host {
    width: 100%;
    height: @header-height-md;
    // box-shadow: 0px -1px 17px 15px rgba(255, 255, 255, 1);

    .titlebar {
      padding-left: 22px;
      background: white;
      height: 100%;
    }

    .bottom-shadow {
      display: block;
    }
  }
}

@media screen and (max-width: @size-sm) {
  // :host {
  //     height: @header-height-sm;

  //     .titlebar {
  //         left: @mg-left-sm;
  //         text-align: right;
  //         :host /deep/ h2, h3 {
  //             position: absolute;
  //             top: 8px;
  //             right: 0;
  //             padding-right: @padding-sm * 2;
  //             font-size: 2.5rem;
  //         }
  //     }
  // }
}
